@{
    ViewData["Title"] = "Bienvenido";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al sitio de evaluación</h1>
</div>
<div class="container my-2">
    
    <a href="/ventas/registrarventa" class="btn btn-outline-primary">Registrar Venta</a>
    <a href="/ventas/resultados" class="btn btn-outline-primary">Resultados</a>
    
</div>
